<div class="row">
  <div class="col-md-12">
    <div id="user-balance">
      <h1>Bonjour {{username}}</h1>

      <h2>Votre Solde</h2>

      <h3>{{balance | currency}}</h3>
    </div>
  </div>
</div>
<div>
  <a ng-click="transferHistory()">Voir l'historique des transferts</a>
  <table ng-if="showTransferHistory" class="table">
    <th ng-click="orderTransfers(transfers, false, true, false)">Amount</th>
    <th ng-click="orderTransfers(transfers, false, false, true)">To</th>
    <tr ng-repeat="transfer in transfers">
      <td>{{transfer.amount}}</td>
      <td>{{transfer.recipient.user.name.first + ' ' + transfer.recipient.user.name.last}}</td>
    </tr>
  </table>
</div>
<div>
  <a ng-click="addFriend()">Ajouter un ami</a>
</div>
<div ng-show="showModal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="addFriend()"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Ajouter un ami</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="submit(friend)">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">First Name</span>
              <input type="text" class="form-control" placeholder="First Name" ng-model="friend.user.name.first">
            </div>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Last Name</span>
              <input type="text" class="form-control" placeholder="Last Name" ng-model="friend.user.name.last">
            </div>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Account Number</span>
              <input type="text" class="form-control" placeholder="Account Number"
                     ng-model="friend.user.account.number">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addFriend()">Close</button>
          <button type="button" ng-click="submit(friend)" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

<div class="row">
  <div class="col-md-12">
    <div id="user-friends">
      <h3>Mes amis</h3>
      <table class="table table-condensed">
        <thead>
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Transferer</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="friend in friends">
          <td><img src="{{friend.user.picture.thumbnail}}"></td>
          <td>{{friend.user.name.first}} {{friend.user.name.last}}</td>
          <td>
            <input type="text" class="input-sm" placeholder="$" ng-model="friend.transferedAmount"/>
            <button class="btn btn-group-sm" type="button" ng-click="transferMoney(friend)">Transfer it!</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>